<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link active" href="/blog">Blog List</a>
	<a class="nav-item nav-link active" href="/blog/add">Blog Add</a>
        </div>
    </div>
</nav>