<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div class = "container">
    <% include ./partials/nav %>
    <h1><%= title %></h1>
    <div class="card" style="width: 50%">
      <form id="addBlog" action="" method="post" role="form" style="padding: 20px">

	<div class= "form-group">

	  <label for="author" class="text-primary">Author</label>
	  <input id="author" name="author" class="form-control"/>

	  <label for="blogTitle" class="text-primary">Title</label>
	  <textarea id="blogTitle" name="blogTitle" class="form-control"></textarea>

	  <label for="blogText" class="text-primary">Text</label>
	  <textarea id="blogText" name="blogText" rows="5" class="form-control"></textarea>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>
	<button type="submit" href="\blog" role="button" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</body>
</html>
