<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\
	   rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9J\
				       voRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"\
	  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></href>
</head>
<body>
  <div class= "container">
    <% include ./partials/nav %>
    <h1><%= title %></h1>
    <section name = "content">
      <div class="card" style="width: 50%">
      <div class="card-footer text-muted">
	<form method="post" action="" style="padding: 20px">
	  <a href="/blog" class="btn btn-default" role="button">Cancel</a>
	<button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </section>
    </div>
    </div>
  </div>
</body>
</html>
